.balance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.balance-card {
    background-color: var(--sidebar-color);
    height: 80px;
    width: 300px;
    border-radius: 6px;
    transition: var(--tran-05); /*soft transition*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 600;
    gap: 4px;
}

.balance-card.middle {
    height: 120px;
    width: 350px;
    font-size: larger;
}

.balance-header {
    color: var(--primary-color);
    font-weight: bolder;
    font-size: larger;
    align-items: center;
}

.balance-card.middle .balance-header {
    font-size: xx-large;
}


body.dark .balance-header{
    color: var(--text-color);
}

.chart-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFF;
    border-radius: 6px;
    height:55%; /*nice aspect ratio for chart*/
    transition: var(--tran-05); /*soft transition*/
    box-sizing: border-box;
    color: #707070;
    padding: 20px;
}

.header2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
    margin-bottom: 20px
}

.home .long-card {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 8px 60px;
    background-color: var(--sidebar-color);
    border-radius: 6px;
    height: 100px;
    transition: var(--tran-05); /*soft transition*/
    box-sizing: border-box;
}

.home .description-card {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 12px 60px;
    background-color: var(--primary-color);
    border-radius: 6px;
    height: 30px;
    transition: var(--tran-05); /*soft transition*/
    box-sizing: border-box;
}


.testing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 100;
    padding: 5px;
    text-align: center;
    color: var(--sidebar-color);
}

body.dark .desc {
    color: var(--text-color); /*for dark mode*/
}

.description-card .number,
.long-card .number {
    max-width: 50px; /*so that number card doesnt use much space*/
}

.testing .crypto-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.crypto-icon img {  /*so that the icon is sized decently*/
    width: 35px;
}

.crypto-abbreviation {
    font-style: oblique;
    font-weight: bolder;
}

#chart {
    flex: auto;
}